*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 4%;
    width:150px;
    border-radius:15px;
}
nav{
    flex: 1;
    padding-left: 10%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 40px;
}
nav ul li a{
    text-decoration: none;
    color: #6a7199;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.content h1{
    font-size:60px;
    font-weight:100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size:20px;
    color: #6a7199;
}
.content h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:24%;
    margin-top: 1%;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn {
    display:inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none !important;
    color: #fff;
    box-shadow: 3px 8px 33px rgba(94,28,68,0.15);
}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: -120px;
    bottom: 210px;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 40px;
    font-size: 18px;
}
.social-links:hover i{
    transform: scale(0.90);
}
.social-links:hover .fa-facebook{
        color: #3b5998;
}
.social-links:hover .fa-twitter{
    color: #00acee;
}
.social-links:hover .fa-instagram{
    color: #f14843;
}
nav ul li:hover .fa-home{
    color: coral;
}
nav ul li:hover .fa-info-circle{
    color: plum;
}
nav ul li:hover .fa-wrench{
    color: goldenrod;
}
nav ul li:hover .fa-user-plus{
    color: crimson;
}