<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background: #fff;
    }

    .page-wrap {
        min-height: 100vh;
    }

    .img {
        float: left;
        height: 55vh;
        width: 30%;
    }
</style>

<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <img class="img" src="https://i.pinimg.com/736x/93/a3/48/93a348f009f76fd22c1e96c89a4a65f9.jpg" alt="">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 ">404</span>
                    <div class="mb-4 lead">
                        <h5>The page you are looking for was not found.</h5>
                    </div>
                    <a href="{% url 'main' %}" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>