{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKING</title>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/n4awvsj7l9sqj87/bookingform.css?dl=0">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sv/favicon.png' %}" />
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0"></div>
            <div class="square" style="--i:1"></div>
            <div class="square" style="--i:2"></div>
            <div class="square" style="--i:3"></div>
            <div class="square" style="--i:4"></div>
            <div class="container">
                <div class="form">
                    <h2>Booking</h2>
                    <form action="/booking/ " method="POST">
                        {% csrf_token %}
                        <div class="inputBx">
                            <input type="text" name="name" placeholder="Enter Your Full Name">
                        </div>
                        <div class="inputBx">
                            <input type="phone" name="number" placeholder="Mobile number ">
                        </div>
                        <div class="inputBx">
                            <input type="email" name="email" value="{{user.email}}" readonly>
                        </div>
                        <div class="inputBx">
                            <select name="service">
                                <option value="PAINTING">PAINTING</option>
                                <option value="CARPENTERING">CARPENTERING</option>
                                <option value="HOUSE SHIFTING">HOUSE SHIFTING</option>
                                <option value="FOOD CATERING">FOOD CATERING</option>
                                <option value="LAUNDRY/DRY WASH">LAUNDRY/DRY WASH</option>
                                <option value="PLUMBERING">PLUMBERING</option>
                                <option value="CONSTRUCTION">CONSTRUCTION</option>
                                <option value="MECHANICS">MECHANICS</option>
                                <option value="INTERIOR DESIGNING">INTERIOR DESIGNING</option>
                                <option value="TECHNICIANS">TECHNICIANS</option>
                                <option value="PRINTING">PRINTING</option>
                                <option value="UNISEX PARLOR">UNISEX PARLOR</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>
                        <div class="inputBx">
                            <input type="date" name="date" placeholder="date">
                        </div>
                        <div class="inputBx">
                            <input type="text" name="address" placeholder="Address">
                        </div>
                        <div class="inputBx">
                            <input type="text" name="city" placeholder="City">
                        </div>
                        <div class="inputBx">
                            <select name="state">
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh ">Arunachal Pradesh </option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir ">Jammu and Kashmir </option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="National Capital Territory of Delhi">National Capital Territory of Delhi
                                </option>
                                <option value="Puducherry">Puducherry</option>
                            </select>
                        </div>
                        <div class="inputBx">
                            <input type="text" name="pincode" placeholder="Pin code">
                        </div>
                        <div class="inputBx">
                            <input type="submit" value="Submit">
                            <a href="{% url 'main' %}"><input type="button" value="GoBack"
                                    style="background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>