{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>PROFILE</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sv/favicon.png' %}" />
</head>
<style>
    .avatar {
        border-radius: 50%;
        width: 150px;
        height: 20vh;
    }

    .jumbotron {
        background-color: #1b2845;
        background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
        color: white;

    }

    .table {
        background-color: #e7eff9;
        background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    }

    .navbar {
        background-color: #1b2845;
        background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    }

    ul li {
        margin-left: 30px;
    }

    ul li h3 {
        margin-left: 350px;
        color: white;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <a href="{% url 'main' %}">
                    <li>
                        <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>&nbsp;GO BACK</button>
                    </li>
                </a>
                <li>
                    <h3 align="center">Service-Verse Profile Bookings</h3>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="avatar" src="https://dl.dropbox.com/s/bjq5rcu8dcqzrom/profile.png?dl=0" alt="">
                </div>
                <div class="col">
                    <h1 class="display-4">HI,{{user.username|title}}</h1>
                    <h1 class="display-5">{{user.email}}</h1>
                </div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <h5 style="margin-top: 18%;">UPDATE YOUR DETAILS :</h5>
                    </div>
                    {% csrf_token %}
                    <div class="col">
                        <label for="">Username : </label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Email : </label>
                        <input type="email" name="email" class="form-control" size="30">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success" style="margin-top:12%;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2-square" viewBox="0 0 16 16">
                                <path
                                    d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                <path
                                    d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">OrderID</th>
                    <th scope="col">BookedName</th>
                    <th scope="col">BookedNumber</th>
                    <th scope="col">BookedService</th>
                    <th scope="col">Date</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% if forloop.counter|divisibleby:2 %}
                <tr>
                    <th scope="row">
                        <center>{{item.id}}</center>
                    </th>
                    <td>
                        <center>{{item.name}}</center>
                    </td>
                    <td>
                        <center>{{item.number}}</center>
                    </td>
                    <td>
                        <center>{{item.service}}</center>
                    </td>
                    <td>
                        <center>{{item.date}}</center>
                    </td>
                    <td>
                        <center><a href="{% url 'editpage' item.id %}"><button class="btn btn-success"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button></a></center>
                    </td>
                    <td>
                        <center><a href="{% url 'delete' item.id %}"><button class="btn btn-danger"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg></button></a></center>
                    </td>
                    <td>
                        <center><a href="{% url 'payment' %}"><button
                                    class="btn btn-warning">&#8377;&nbsp;PAY</button></a></center>
                    </td>
                </tr>
                {% else %}
                <tr class="bg-primary">
                    <th scope="row">
                        <center>{{item.id}}</center>
                    </th>
                    <td>
                        <center>{{item.name}}</center>
                    </td>
                    <td>
                        <center>{{item.number}}</center>
                    </td>
                    <td>
                        <center>{{item.service}}</center>
                    </td>
                    <td>
                        <center>{{item.date}}</center>
                    </td>
                    <td>
                        <center><a href="{% url 'editpage' item.id %}"><button class="btn btn-success"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button></a></center>
                    </td>
                    <td>
                        <center><a href="{% url 'delete' item.id %}"><button class="btn btn-danger"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg></button></a></center>
                    </td>
                    <td>
                        <center><a href="{% url 'payment' %}"><button
                                    class="btn btn-warning">&#x20B9;&nbsp;PAY</button></a></center>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>